# ======================
# Android
# ======================
.gradle/
local.properties
*.iml
.idea/
build/

# ======================
# Python (FastAPI)
# ======================
venv/
.venv/
__pycache__/
*.pyc
.env

# ======================
# Spring Boot / Java
# ======================
build/
out/
*.class

# ======================
# OS (Mac)
# ======================
.DS_Store

# ======================
# Logs
# ======================
*.log